@import "../../../../../variables.scss";

.planets-table {
	width: 100%;
	text-align: right;

	table {
		border-collapse: collapse;
		width: 100%;
		color: $light-gray;
		font-size: $m;

		thead {
			border-bottom: 1px solid $dark-gray;

			tr {
				
				th {
					width: 50px;
					font-weight: $normal;
					padding: 10px 20px;
	
					&:first-child {
						white-space: nowrap;
						text-align: left;
						color: $teal;
					}

					.header-content {
						display: flex;
						justify-content: flex-end;
						align-items: center;

						.arrow {
							color: $light-gray;
							font-size: 1px;
							padding: 0 5px;

							.teal {
								color: $teal;
							}
						}
					}
				}
			}
		}

		tbody {
			
			tr {
				
				td {
					padding: 20px;
					
					&:first-child {
						text-align: left;
						color: $teal;
					}
				}
			}
		}
	}
}