.add-movie-form {
	width: 80%;
	margin-top: 20px;

	.input-wrapper {
		margin-bottom: 20px;
		position: relative;
	}

	.planet-input {
		margin-top: 20px;
	}

	.button {
		display: flex;
		justify-content: flex-end;

		button {
			width: 160px;
			margin-top: 10px;
		}
	}
}