@import "../../../variables.scss";

.collapsibleCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	
	.card {
		width: 100%;
		max-width: 730px;
		height: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 8px 0;
		font-size: $l;
		padding: 15px;
		background-color: $white;
		box-shadow: $box-shadow-l;
		border-radius: 4px;
		z-index: 1;

		.title {
			color: $teal;
			font-weight: $bold;
		}
	
		button {
			border: none;
			outline: none;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			background-color: $white;
			cursor: pointer;
		}
	}

	.open {
		height: 100%;
		flex-direction: column;
		transform: translateY(-20px);
		margin-bottom: -10px;
		z-index: 0;
		box-shadow: $box-shadow-m;
		border-radius: 0;
	}
}