@import "../../../../../variables.scss";

.magic-dropdown {
	border: 1px solid #E5E5E5;
	color: $dark-gray;
	box-shadow: 0px 4px 4px #c4c4c480;
	transform: translateY(-19px);
	padding: 10px 0;

	.planet-name {
		padding: 5px 10px;
		cursor: pointer;

		&:hover {
			background-color: $lightest-gray;
		}
	}
}