@import "../../../variables.scss";

.card {
	width: 100%;
	max-width: 730px;
	height: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0;
	font-size: $l;
	padding: 15px;
	background-color: $white;
	box-shadow: 0px 4px 12px #c4c4c433;
	border-radius: 4px;
	z-index: 1;
}