@import "./variables.scss";

.app {
	width: 100vw;
	height: 90vh;
	margin-top: 10vh;
	display: flex;
	align-items: center;
	flex-direction: column;

	.logo {
		margin-bottom: 10px;
	}

	.footer {

		p {
			color: $light-gray;
			font-size: $m;
			text-transform: uppercase;
			text-align: center;
			margin-top: 30px;
			font-weight: $thin;
		}
	}

}