// colors
$dark-gray: #474747;
$gray: #E0E6EE;
$light-gray: #C4C4C4;

$white: #FFFFFF;

$teal: #00687F;

// font
$normal: 400;
$bold: 700;
$m: 12px;
$l: 16px;

// misc
$box-shadow-m: 0px 2px 1px #c4c4c433;
$box-shadow-l: 0px 4px 12px #c4c4c433;