// colors
$dark-gray: #474747;
$gray: #E0E6EE;
$light-gray: #C4C4C4;
$lightest-gray: #ebebeb;
$white: #FFFFFF;
$teal: #00687F;
$light-teal: #1BA1BE;
$red: #FF1616;

// font
$thin: 300;
$normal: 400;
$bold: 700;
$m: 12px;
$l: 16px;

// screen resolution
$small: 900px;